
.container {
    display: flex;
    height: 30vh;
}

.container > div {
    border: 1px #6f6f6f solid;
    box-sizing: border-box;
}

.left-content, .right-content {
    width: 30%;
}

.center-content {
    width: 40%;
}