/*#div {*/
/*  color: pink;*/
/*}*/

/*.div::before {*/
/*  content: "";*/
/*  color: orange;*/
/*}*/

/*div::after {*/
/*  color: yellow;*/
/*}*/
/*div p {*/
/*  */
/*}*/

/*div p {*/
/*  */
/*}*/

/*div ~ p {*/
/*  */
/*}*/

/*div + p {*/
/*  */
/*}*/

/*div, p {*/
/*  */
/*}*/

/*span {*/
/*  background-color: red;*/
/*  margin-top: 30px;*/
/*}*/
div {
  height: 200px;
  width: 200px;
  background: red;
  margin-bottom: 50px;
  cursor: pointer;
  /*transition: 2s;*/
}

div:hover {
  background: blue;
  width:300px;
  border: 2px solid brown;
}

div:active {
  background: green;
  height:300px;
}

/*input:invalid {*/
/*  background: red;*/
/*  border:2px solid pink;*/
/*}*/

/*input:focus {*/
/*  background: gray;*/
/*}*/
/*input:not(:focus) {*/
/*  background: #00cbf6;*/
/*}*/

/*input::before {*/
/*  */
/*}*/
/*input:invalid {*/

/*}*/

/*input:not(.name) {*/

/*}*/
/*input:*/

/*section {*/
/*  background: blue;*/
/*  height: 300px;*/
/*  width: 300px;*/
/*  margin-top: 100px;*/
/*}*/