@keyframes changeBlaBlaColorBack {
    from {
        background-color: #497DDD;
    }

    to {
        background-color: #EF7D55;
    }
}

.container {
    border: 1px #3d4543 solid;
    width: 400px;
    height: 400px;

    background-color: #FF9933;
    animation-name: changeBlaBlaColorBack;
    animation-duration: 5s;
    animation-play-state:paused;
}

.container:hover {
    animation-play-state:running;
}



/* Короткие классы для различных значений perspective */
.pers250 {
    perspective: 250px;
    -webkit-perspective: 250px;
}
.pers350 {
    perspective: 350px;
    -webkit-perspective: 350px;
}
.pers500 {
    perspective: 500px;
    -webkit-perspective: 500px;
}

/* Определяем div.container, div.cube, и свойства граней куба */
.container {
    width: 200px;
    height: 200px;
    margin: 75px 0 0 75px;
    border: none;
}
.cube {
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    perspective-origin: 150% 150%;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    -webkit-perspective-origin: 150% 150%;
    -webkit-transform-style: preserve-3d;
}
.face {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
}

/* Определяем каждую грань в зависимости от направления */
.front {
    background: rgba(0, 0, 0, 0.3);
    transform: translateZ(50px);
    -webkit-transform: translateZ(50px);
}
.back {
    background: rgba(0, 255, 0, 1);
    color: black;
    transform: rotateY(180deg) translateZ(50px);
    -webkit-transform: rotateY(180deg) translateZ(50px);
}
.right {
    background: rgba(196, 0, 0, 0.7);
    transform: rotateY(90deg) translateZ(50px);
    -webkit-transform: rotateY(90deg) translateZ(50px);
}
.left {
    background: rgba(0, 0, 196, 0.7);
    transform: rotateY(-90deg) translateZ(50px);
    -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.top {
    background: rgba(196, 196, 0, 0.7);
    transform: rotateX(90deg) translateZ(50px);
    -webkit-transform: rotateX(90deg) translateZ(50px)
}
.bottom {
    background: rgba(196, 0, 196, 0.7);
    transform: rotateX(-90deg) translateZ(50px);
    -webkit-transform: rotateX(-90deg) translateZ(50px);
}

/* Делаем таблицу немного лучше */
th, p, td {
    background-color: #EEEEEE;
    padding: 10px;
    font-family: sans-serif;
    text-align: left;
}