html, body {
    width: 100%;
    margin:0;
}

.container, .container-none-flex {
    border: 1px #6f6f6f solid;
    margin-bottom: 10px;
    padding: 5px;
}

.flex-item, .item {
    border: 1px #FF9933 dashed;
}

.flex-item {
    /*width: 150px;*/
}

.container {
    display: flex;

    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*flex-direction: column;*/
    /*flex-direction: row-reverse;*/
}

.flex-item {
}

.container-none-flex {
    width: 100%;
}

.item1 {
    flex-basis: 100px;
    order: 1;
    flex-grow: 1;
}

.item2 {
    order: 2;
    flex-grow: 1;
}

.item3 {
    order: 3;
    flex-grow: 1;
}

.item4 {
    order: 4;
    flex-grow: 5;
}

.item5 {
    order: 5;
    flex-grow: 2;
}