.img {
    width: 150px;
    height: 150px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.img-wrapper {
    border: 1px #3d4543 solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.clearfix {
    clear: both;
}
footer {
    background-color: #bccd95;
    margin-top:10px;
    padding: 5px;
}