ul > li, ul > li a {
    line-height: 30px;
}

.icon {
    display: inline-block;
    width: 115px;
    height: 105px;
}



.angry-bird-1 {
    background: url("../img/angry_birds.png") 0 -10px;
}

ul > li:hover .angry-bird-1 {
    background: url("../img/angry_birds.png") 0 -113.5px;
}

.angry-bird-2 {
    background: url("../img/angry_birds.png") -215px -10px;
    width: 110px;
}

ul > li:hover .angry-bird-2 {
    background: url("../img/angry_birds.png") -320px -10px;
}
