.field {
    display: flex;
    background-color: darkgreen;
    height: 350px;
    width: 540px;
}

.field-wrapper {
    padding: 10px;
    position: relative;
    display: flex;
    border: 1px solid #3d4543;
}

.leftGuard, .rightGuard {
    display: flex;
    width: 20px;
    align-items: center;
}

.leftGuard .guard, .rightGuard .guard {
    border: 2px solid #3d4543;
    height: 100px;
    width: 20px;
}

.leftGuard .guard {
    border-right-width: 0;
}

.rightGuard .guard {
    border-left-width: 0;
}

.field .leftSide {
    width: 50%;
    border-right: 2px solid #fff;
}