div {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
}

.static-div {
    background-color: #bccd95;
}

.position-relative {
    background-color: beige;
    border: 1px #FF9933 dashed;
    left: 25px;
    top: 25px;
    position: relative;
}

.position-absolute {
    background-color: #FF9933;
    position: absolute;
}
