@keyframes changeText {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}


#div1 {
    position: relative;
    height: 300px;
    width: 300px;
    margin-left: 60px;
    border: 1px solid blue;
    perspective: 230px;
    overflow: hidden;
}

#div2 {
    animation-name: changeText;
    animation-duration: 5s;
    animation-iteration-count: infinite;


    padding: 50px;
    position: absolute;
    border: 1px solid black;
    background-color: red;
    background: rgba(100,100,100,0.5);
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */
    -webkit-transform: rotateX(45deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}


