html {
    cursor: pointer;
}
body {
    background-color: #3d4543;
    color: #fff;
    font-family: Verdana;
}

.test-mouse {
    border: 1px #ff4561 solid;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
}

.test-mouse h2:first-letter {
    color: #FF9933;
}

.test-mouse:hover {

    background-color: #ff4561;
    color: #bccd95;
}

.some-list > li:nth-child(2n) {
    background-color: #FF9933;
    color: #3d4543;
}