html, body {
    font-family: Verdana;
}

h1, h2 {
    margin: 0px;
}

.site-header {
    display: flex;
    background-color: #bccd95;
    color: #ffffff;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-menu {
    display: flex;
    background-color: #33333a;
}

.main-menu div {
    padding: 5px;
}

.main-menu a {
    color: #ffffff;
}

main {
    display: flex;
}

main aside {
    flex-grow: 1;
    flex-basis: 200px;
}

main .content {
    flex-grow: 5;
}
