.container {
    height: 100px;
    padding-left: 3px;
    font-size: 12px;
    border: 1px solid #6f6f6f;
    transition: 2s cubic-bezier(0.25,0.1,0.25,1) 2s;
    transition-property: font-size, color;
}

.container:hover {
    background-color: #FF9933;
    color: #497DDD;
    font-size: 20px;
    height: 300px;
    padding-left: 15px;
    cursor: pointer;
}