* {
    color: #6f6f6f;
}

html {
    font-size: 18px;
}

html, body {
    height: 100%;
}

body {
    font-family: Verdana;
}

.container {
    background-color: #FF9933;
    height: 100%;
    margin: 0 auto;
    width: 970px;
}

.container .main-header {
    height: 15%;
}

.container .header-nav,
.container .footer-nav {
    text-align: center;
    padding: 10px 0;
}

.container .header-nav a,
.container .footer-nav a {
    text-transform: uppercase;
}

.container .content {
    height: 75%;
    padding: 10px;
    font-size: 20px;
}

.container .main-footer {
    height: 10%;
}

.container ul {
    margin-top: 0;
}

.for-test-purpose .special,
.visibility .hidden,
.visibility {
    padding: 10px;
}

.for-test-purpose .special {
    display: inline-block;
    height: 100px;
    margin: 20px;
    width: 200px;
    border: 1px #000 solid;

}

.visibility {
    border: 2px #bccd95 dashed;
    background: #937341;
    border-radius: 10px;
    margin-bottom: 20px;
}

.visibility .hidden {
    /*display:none;*/
    visibility: hidden;
    background: #ff4561;
    border-radius: 5px;
}

.visibility:hover {
    cursor: pointer;
}

.visibility:hover > .hidden {
    visibility: visible;
}

p {
    color: red;
}

.ordering p {
    color: yellow;
}

.boundaries {
    font-size: 2.5em;
    color: #ff4561 !important;
}